@import "components/bathroom-show.scss";
@import "components/index-map.scss";
@import "components/login-and-register.scss";
@import "components/main-index.scss";
@import "components/usersShow.scss";
@import "components/new-bathroom.scss";
@import "components/home.scss";
@import "components/usersEdit.scss";

* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}


body{
  padding: 0;
  margin: 0;
  background-color: white;

}
.navbar-brand {
  background-color: #ceeff6;
  font-family: 'Poppins', sans-serif;

}
.navbar-menu {
  background-color: #ceeff6;
  font-family: 'Poppins', sans-serif;
  // box-shadow: 0 8px 16px rgba(10, 10, 10, 0.1);
  // padding: 0.5rem 0;

}

.navbar-item {
  font-family: 'Poppins', sans-serif;

  // box-shadow: 0 8px 16px rgba(10, 10, 10, 0.1);r
}

.navbar-menu.is-active {
  font-family: 'Poppins', sans-serif;
  background-color: #ceeff6;
  display: block;
  // height: 180px;
  z-index: 99;
  width: 100%;
}
