body {
  margin: 20px;
}

.google-map{
  width: 400px;
  height: 400px;
}
.google-map-index{
  width: 100%;
  height: 550px;
  margin: 0 auto;
}

.info-marker{
  height: 200px;
}
.listView {
  float: right;
}
