<form ng-submit="bathroomsEdit.handleSubmit()">
  <div class="filed">
    <label for="name">Name</label>
    <input class="input" placeholder="Name" name="name" ng-model="bathroomsEdit.bathroom.name" />
  </div>
  <div class="field">
    <label for="name">Address</label>
    <input class="input google-map-autofill" placeholder="Address" address="bathroomsNew.bathroom.address" location="bathroomsEdit.bathroom.location" name="address" ng-model="bathroomsEdit.bathroom.address" />
  </div>
  <div class="field">
   <label class="label">Image</label>
   <div class="control">
     <img class="imgPreview newimgPrview" src="" alt="" style="background-image">
     <input type="hidden" name="image" required />
     <button ng-click="bathroomsEdit.uploadImage()" class="button image-upload" type="button">Choose an image to upload</button>
   </div>
 </div>
  <div class="filed">
    <label for="name">Description</label>
    <input class="input" placeholder="Description" name="description" ng-model="bathroomsEdit.bathroom.description"  />
  </div>
  <div class="field">
    <label for="name">Facilities</label>
    <input type="checkbox" ng-click="bathroomsEdit.toggleAll()"/> Check all<br><br>
    <input type="checkbox" ng-model="bathroomsEdit.bathroom.toilet" value="Toilet">Toilet<br>
    <input type="checkbox" ng-model="bathroomsEdit.bathroom.shower" value="Shower">Shower<br>
    <input type="checkbox" ng-model="bathroomsEdit.bathroom.bidet" value="Bidet">Bidet<br>
    <input type="checkbox" ng-model="bathroomsEdit.bathroom.sanitaryProducts" value="Sanitary">Sanitary Products<br>
    <input type="checkbox" ng-model="bathroomsEdit.bathroom.babyChanging" value="Baby">Baby Changing<br>

  </div>
    <button class="button is-primary" >Submit</button>

</form>
