<div class="field">
  <label for="name">All Facilities</label>
  <input type="checkbox" ng-click="bathroomsMapIndex.toggleAll()"/>
  <div class="">

  </div>
  <input type="checkbox" ng-model="bathroomsMapIndex.toilet">Toilet
  <input type="checkbox" ng-model="bathroomsMapIndex.shower">Shower
  <input type="checkbox" ng-model="bathroomsMapIndex.bidet">Bidet
  <input type="checkbox" ng-model="bathroomsMapIndex.sanitaryProducts">Sanitary Products
  <input type="checkbox" ng-model="bathroomsMapIndex.babyChanging">Baby Changing
</div>

<div class="columns is-multiline">
  <div class="column is-full-desktop">
    <google-map-index class="all-google" zoom="15" bathroom="bathroomsMapIndex.filtered" center="bathroomsMapIndex.center"></google-map-index>
  </div>
  <a class="navbar-item button is-primary listView" ui-sref="bathroomsIndex">All Bathrooms List</a>
</div>
