<div class="field">
  <label for="name">All Facilities</label>
  <input type="checkbox" ng-model="bathroomsIndex.all" />
  <div class="">

  </div>
  <input type="checkbox" ng-model="bathroomsIndex.toilet">Toilet
  <input type="checkbox" ng-model="bathroomsIndex.shower">Shower
  <input type="checkbox" ng-model="bathroomsIndex.bidet">Bidet
  <input type="checkbox" ng-model="bathroomsIndex.sanitaryProducts">Sanitary Products
  <input type="checkbox" ng-model="bathroomsIndex.babyChanging">Baby Changing
  <label for="name">Min Rating</label>
  <div class="control">
    <div class="select">
      <select name="rating" ng-model="bathroomsIndex.min">
        <option value="">All</option>
        <option value="1">💩</option>
        <option value="2">💩💩</option>
        <option value="3">💩💩💩</option>
        <option value="4">💩💩💩💩</option>
        <option value="5">💩💩💩💩💩</option>
      </select>
    </div>
  </div>
</div>
<ul class="columns is-multiline is-mobile">
  <li class="column is-one-quarter-desktop is-half-mobile" ng-repeat="bathroom in bathroomsIndex.filtered">
    <a ui-sref="bathroomsShow({ id: bathroom._id})">
      <div class="card">
        <div class="card-image">
          <figure class="image">
            <img ng-src="{{ bathroom.image }}" alt="{{ bathroom.address }}" />
          </figure>
        </div>
        <div class="card-content">
          <h4>{{ bathroom.address }}</h4>
        </div>
      </div>
    </a>
  </li>

</ul>
