<form ng-submit="bathroomsNew.handleSubmit()">
  <div class="filed">
    <label for="name">Name</label>
    <input class="input" placeholder="Name" name="name" ng-model="bathroomsNew.bathroom.name" />
  </div>
  <div class="field">
    <label for="name">Address</label>
    <input class="input google-map-autofill" address="bathroomsNew.bathroom.address" location="bathroomsNew.bathroom.location" placeholder="Address" name="address" ng-model="bathroomsNew.bathroom.address" />
  </div>
  {{ bathroomsNew.bathroom }}
  <div class="field" ng-if="bathroomsNew.bathroom.image">
  <label class="label">Profile Picture Preview</label>
  <div class="control">
    <figure class="image is-128x128">
      <img src="{{ bathroomsNew.bathroom.image }}">
    </figure>
  </div>
</div>
  <div class="control">
    <div class="file">
      <label class="file-label">
        <input class="file-input" type="file" ng-model="bathroomsNew.bathroom.image" upload-image>
        <span class="file-cta">
          <span class="file-icon">
            <i class="fa fa-upload"></i>
          </span>
          <span class="file-label">
            Choose a file…
          </span>
        </span>
      </label>
    </div>
  </div>

  <div class="filed">
    <label for="name">Description</label>
    <input class="input" placeholder="Description" name="description" ng-model="bathroomsNew.bathroom.description"  />
  </div>
  <div class="field">
    <label for="name">Facilities</label>
    <input type="checkbox" ng-click="bathroomsNew.toggleAll()"/> Check all<br><br>
    <input type="checkbox" ng-model="bathroomsNew.bathroom.toilet" value="Toilet">Toilet<br>
    <input type="checkbox" ng-model="bathroomsNew.bathroom.shower" value="Shower">Shower<br>
    <input type="checkbox" ng-model="bathroomsNew.bathroom.bidet" value="Bidet">Bidet<br>
    <input type="checkbox" ng-model="bathroomsNew.bathroom.sanitaryProducts" value="Sanitary">Sanitary Products<br>
    <input type="checkbox" ng-model="bathroomsNew.bathroom.babyChanging" value="Baby">Baby Changing<br>

  </div>
    <button class="button is-primary" >Submit</button>

</form>
