<div class="card columns">
  <div class="card-image column is-half">
    <figure class="image">
      <img ng-src="{{ bathroomsShow.bathroom.image }}" alt="{{ bathroomsShow.bathroom.address }}" />
    </figure>
  </div>
  <div class="card-content column is-half">
    <h4>{{ bathroomsShow.bathroom.name }}</h4>
    <p>{{ bathroomsShow.bathroom.address }}</p>

    <form ng-submit="bathroomsShow.handleSubmit()">
      Enter comment:
      <input type="text" ng-model="bathroomsShow.text" name="text" />
      <button class="button is-primary" value="Submit">Submit</button>
    </form>

    <ul ng-if="bathroomsShow.userId">
      USER ID: {{bathroomsShow.userId}}
      <li ng-repeat="request in bathroomsShow.bathroom.requests" ng-if="bathroomsShow.userId._id === request.user">
      Requests:  {{ request.content }}
      <br>
      <!-- user:  {{ request.user }} -->
      </li>
    </ul>

    <a ui-sref="bathroomsEdit({ id: bathroomsShow.bathroom._id })" class="button">Edit</a>
    <button class="button is-danger" ng-click="bathroomsShow.remove()">Delete</button>
    <div class="column is-full columns">
      <div class="column">
        <figure class="image is-64x64" ng-if="bathroomsShow.bathroom.toilet">
          <img src="../../assets/images/toilet.png" alt="toilet">
        </figure>
      </div>
      <div class="column">
        <figure class="image is-64x64" ng-if="bathroomsShow.bathroom.shower">
          <img src="../../assets/images/shower.png" alt="shower">
        </figure>
      </div>
      <div class="column">
        <figure class="image is-64x64" ng-if="bathroomsShow.bathroom.bidet">
          <img src="../../assets/images/bidet.png" alt="bidet">
        </figure>
      </div>
      <div class="column">
        <figure class="image is-64x64" ng-if="bathroomsShow.bathroom.babyChanging">
          <!-- <img src="../../assets/images/sanitary.png" alt="sanitary products"> -->
        </figure>
      </div>
      <div class="column">
        <figure class="image is-64x64" ng-if="bathroomsShow.bathroom.babyChanging">
          <img src="../../assets/images/baby.png" alt="baby">
        </figure>
      </div>
    </div>
    <google-map zoom="15" center="bathroomsShow.bathroom.location"></google-map>
  </div>
</div>
