.bathroom-user-card{
  margin-right: 12px;
  margin-left: 12px;
  .bathroom-info{
    margin-bottom: 10px;
  }
}
.icon-images{
  margin: 0 12px 20px 12px;
}

.edit-and-delete{
  margin: 0 12px 10px 12px;
}

.google-map{
  width: 100%;
  height: 400px;
}

.show-page-image{
  margin-left: 12px;
  margin-right: 12px;
}

@media only screen and (max-width: 768px) {
  .show-page-image{
    margin: 0px;
    padding:0 12px ;
  }
}
