.info-marker{
  height: 200px;
}
.list-view {
  float: right;
}
.google-map-index{
  width: 100%;
  height: 550px;
  margin: 0 auto;
}

.bathroom-button {
  a {
    display: block;
    width: 100%;
  }
}
div.filters {
  margin-top: 12px;
}
