div.your-profile {
  margin-bottom: 10px;
  div {
    .profile-top {
      display: flex;
      justify-content: space-between;
    }
    div.image-container {
      height: 100px;
      width: 10px;
      border: 1px solid black;
    }

  }
}
div.user-requests-styling{
  margin-bottom: 10px;
}

p.user-rating-styling{
  margin-bottom: 10px;
}
