div.your-profile {
  margin-bottom: 10px;
  div {
    .profile-top {
      display: flex;
      justify-content: space-between;
    }
    div.image-container {
      height: 100px;
      width: 10px;
      border: 1px solid black;
    }

  }
}
.userShow {
  display: flex;
  width: 60%;
  justify-content: center;
  margin: 0;

div.card {
  padding: 30px;
}
.requests {
  padding: 10px;
}

.small-image {
  width: 200px;
}

.fa-pencil-alt {
  padding-right: 3px;
}
}

p.user-rating-styling{
  margin-bottom: 10px;
}
