figure img.image-size-styling{
  height: 100%;
  width: auto;
  max-width: 100%;
}
div.profile-photo-card{
  margin-bottom: 10px;
  div.photo-card-styling{
    border: none;
    box-shadow: none;
  }
}
div.choose-photo-styling{
  margin-bottom: 10px;
}
