<section id="section" class="section">
  <div class="container">
    <div class="form-positioning">
      <section class="section form-section">
        <div class="container">
          <form ng-submit="authLogin.handleSubmit()">
            <div class="field">
              <label for="email">Email</label>
              <div class="control has-icons-left">
                <input class="input is-medium" placeholder="Email" name="email" ng-model="authLogin.credentials.email" />
                <span class="icon is-small is-left"><i class="fas fa-envelope"></i></span>
              </div>
            </div>


            <div class="field">
              <label for="password">Password</label>
              <div class="control has-icons-left">
                <input type="password" class="input" placeholder="Password" name="password" ng-model="authLogin.credentials.password" />
                <span class="icon is-small is-left"><i class="fas fa-key"></i>
                </span>
              </div>
            </div>

            <button class="button submit-button">Submit</button>
            <button type="button" ng-click="authLogin.authenticate('facebook')">Login with Facebook</button>
          </form>
        </div>
      </section>
    </div>
  </div>
</section>
