<div class="card">
  <!-- <div class="card-image">
    <figure class="image">
      <img ng-src="{{ usersShow.user.image }}" alt="{{ usersShow.user.name }}" />
    </figure> -->
  <div class="card-content">
    <h4>Username: {{ usersShow.user.username }}</h4>
    <p>Name: {{ usersShow.user.firstName }}</p>
    <p>Email: {{ usersShow.user.email }}</p>
    <p>Requests: {{usersShow.bathroom.requests}}</p>


  </div>
  <a ui-sref="usersEdit({ id: usersShow.user._id })" class="button">Edit</a>


</div>
