<div class="card" >
    <h1 class="title is-4">Your Profile</h1>
  <ul>

    <li>First Name: {{usersShow.user.firstName}}</li>
    <li>Email: {{usersShow.user.email}}</li>
    <li>Username: {{usersShow.user.username}}</li>
  </ul>
  <figure class="image">
    <img ng-src="{{ usersShow.user.image }}" alt="{{ usersShow.user.name }}" />
  </figure>
  <a ui-sref="usersEdit({ id: usersShow.user._id })" class="button">Edit</a>
  <br>
</div>
<br>
<div class="card" ng-controller="UsersShowCtrl as usersShow">
  <h1 class="title is-4">Your Bathroom requests</h1>
  <div ng-repeat="bathroom in usersShow.user.bathrooms">

    <div ng-if="bathroom.requests.length > 0">Your bathroom:{{bathroom.name}}
      <div ng-repeat="request in bathroom.requests">
        <p >Request Status: {{ request.status }}</p>
        <p >Request User: {{ request.user.username }}</p>
        <br>

        <div ng-if="request.status === 'pending'">
          <button ng-click="usersShow.acceptRequest(bathroom, request)" type="button" class="button is-success">Accept</button>
          <button ng-click="usersShow.rejectRequest(bathroom, request)" type="button" class="button is-danger">Reject</button>
        </div>
        <div ng-if="request.status !== 'pending'">
          <p ng-if="request.status === 'accepted'">You have accepted this request</p>
          <p ng-if="request.status === 'rejected'">You have rejected this request</p>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<div class="card" ng-controller="UsersShowCtrl as usersShow">
Your Own Requests
</div
<br>
