<div class="card" >
    <h1 class="title is-4">Your Profile</h1>
  <ul>

    <li>First Name: {{usersShow.user.firstName}}</li>
    <li>Email: {{usersShow.user.email}}</li>
    <li>Username: {{usersShow.user.username}}</li>
  </ul>
  <a ui-sref="usersEdit({ id: usersShow.user._id })" class="button">Edit</a>
  <br>
</div>
<br>
<div class="card">
  <h1 class="title is-4">Your Bathroom requests</h1>
    <div ng-repeat="bathroom in usersShow.user.bathrooms">Your bathroom:{{bathroom.name}}
      <p>Requests:</p>
      <p ng-repeat="request in bathroom.requests">{{request.user.username}}: {{request.content}}</p>
    </div>
  <button type="button" class="button is-warning">Approve</button>

</div>
<br>
